body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
font-family: sans-serif;
padding: 20px;
}

h1, h2, p{
    text-align: center;
}

h1, h2{
    font-family: Impact, serif;
}

h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2{
    font-size: 30px;
}

.established{
    font-style: italic;
}

hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}
.menu{
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.item p{
display: inline-block;
font-size: 18px;
margin-top: 5px;
margin-bottom: 5px;
}

.flavor, .dessert {
    width: 75%;
    text-align: left;
}

.price{
    width: 25%;
    text-align: right;
}

.bottom-line{
    margin-top: 25px;
}

/*FOOTER*/
footer{
    font-size: 14px;

}
a {
    color: black;
}
a:hover{
    color:brown
}
a:active{
    color:brown;
}
a:visited{
    color: black;
}

.address{
    margin-bottom: 15px;
}